.cards-field {
  width: fit-content;
  max-height: 80vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(70px, 140px));
  grid-template-rows: repeat(4, minmax(140px, auto));
  grid-auto-flow: column;
  grid-auto-columns: minmax(70px, 140px);
}
