.cards-field {
  width: fit-content;
  min-height: 90vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 120px));
  grid-template-rows: repeat(4, minmax(150px, auto));
  grid-auto-flow: column;
  grid-auto-columns: minmax(50px, 120px);
}
