.registration-form {
  display: grid;
  padding: 24px 32px;
  grid-template-columns: 328px 233px;
  grid-template-rows: 40px 200px 60px;
  grid-template-areas:
    "title title"
    "inputs avatar"
    "buttons buttons";
  background-color: #fff;
  row-gap: 24px;
  column-gap: 38px;
}

.registration-form-title {
  grid-area: title;
}

.avatar-container {
  position: relative;
  grid-area: avatar;
  display: flex;
  justify-content: center;
  align-items: center;

  & .form_user-avatar {
    border-radius: 50%;
    width: 190px;
    height: 190px;
  }

  & .button_icon {
    position: absolute;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: rgba(160, 159, 255, 0.1);
    background-image: url('../../assets/upload.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;

    & input {
      visibility: hidden;
    }

    &.uploaded {
      visibility: hidden;
    }
  }

   &:hover {
    & .button_icon.uploaded {
      visibility: visible;
    }
  }
}


.inputs-wrapper {
  grid-area: inputs;
  justify-content: center;
  display: flex;
  gap: 12px;
  flex-direction: column;
}


.buttons-wrapper {
  grid-area: buttons;
  display: flex;
  gap: 12px;
  flex-direction: row;
  justify-self: end;
}

.form-button {
  align-self: flex-end;
  justify-self: end;
}
