.registration-form {
  display: grid;
  padding: 24px 32px;
  grid-template-columns: 328px 233px;
  grid-template-rows: 40px 200px 60px;
  grid-template-areas:
    "title title"
    "inputs avatar"
    "buttons buttons";
  background-color: #fff;
  row-gap: 24px;
  column-gap: 38px;
}

.registration-form-title {
  grid-area: title;
}

.form_user-avatar {
  grid-area: avatar;
}

.inputs-wrapper {
  grid-area: inputs;
  justify-content: center;
  display: flex;
  gap: 12px;
  flex-direction: column;
}


.buttons-wrapper {
  grid-area: buttons;
  display: flex;
  gap: 12px;
  flex-direction: row;
  justify-self: end;
}

.form-button {
  align-self: flex-end;
  justify-self: end;
}
