.main-header {
  padding: 0 24px;
  background-color: #2196f3;
  display: flex;
  align-items: center;
}

.main-logo {
  display: block;
  width: 80px;
  height: 39px;
  background-image: url("../../assets/Logo.jpg");
  cursor: pointer;
}

.header-nav {
  width: 56%;
  margin-left: 10%;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-list_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11px 6px;
  gap: 7px;
  cursor: pointer;
}

.nav-list_item:hover {
  background-color: #1e88e5;
}

.nav-list_item__active {
  background-color: #1e88e5;
}

.nav-list_item-link {
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
}

.nav-list_item:first-child:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../../assets/icons/about.svg");
}

.nav-list_item:nth-child(2):before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../../assets/icons/score.svg");
  background-position: center;
}

.nav-list_item:nth-child(3):before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../../assets/icons/settings.svg");
  background-position: center;
}

.button_secondary {
  margin-left: auto;
}

.user-avatar {
  width: 40px;
  height: 40px;
  margin-left: 30px;
}
